<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.kotzin.fsync</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/fsync</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>900</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/kotzin/.fsync/fsync_stderr.log</string>

  <key>StandardOutPath</key>
  <string>/Users/kotzin/.fsync/fsync_stdout.log</string>
</dict>
</plist>
